:root {
  /* Default variable overrides */
  --bs-body-bg: #111; /* ln:404 */
  --bs-body-color: #F5F5F7; /* ln:405 */
}

.card {
  --bs-card-bg: #141414;
}

footer {
  color: #6E6E73;
  background-color: #1d1d1f;
}

footer .text-muted {
  /* HACK: */ color: inherit!important;
}
